/* Detail Styles */
.results-info {
    margin: 1em;
}

.results {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
    margin-left: 0em;
    margin-right: 0em;
    gap: 20px;
}

.results .result {
    width: 450px;
    max-height: none;
}
